* {
	margin: 0;
	padding: 0; 
}

body {
	width: 910px;
	height: 100%;
	max-height: 1300px;
	margin: 0 auto; 
	font-family: Arial;	
}

.top-panel {
	margin-top: 20px;
	position: relative;
}

.mobile {
	display: inline-block;
	width: 304px;
	height: 28px;
	color: rgb( 94, 105, 109 );
}

.mobile img {
	line-height: 1.415;
	vertical-align: middle;
	background: linear-gradient(to top, #0e395e, #1d6181);
	margin-left: 7px;
	padding: 0 3px;
	border-radius: 100%;
}

.mobile span {
	display: inline-block;
	text-align: justify;
	margin-right: 2px;
	font-size: 18px;
	white-space: pre-line;
	line-height: 30px;
	height: 24px;
	vertical-align: bottom;
}


form.login {
	display: inline-block;
	margin-left: 6px;
	border: 1px solid black;
	border-radius: 4px; 
	background: linear-gradient(to top, #0e395e, #1d6181);
	color: white;
	line-height: 1.415;
}

.front-sign-in {
	display: inline-block;
	width: 494px;
	font-size: 10px;
	line-height: 1.415;
}

.front-sign-in img {
	line-height: 1.415;
	vertical-align: middle;
	margin-left: 6px;
	margin-bottom: 5px;
}

.front-sign-in a {
	color: #788795;
	font-size: 10px;
	margin-left: 12px;
	font-size: 12px;
}

input.login {
	width: 110px;
	text-transform: lowercase;
	height: 18px;
	border-style: solid;
 	border-width: 1px;
  	border-color: rgb( 155, 161, 163 );
  	margin-right: 2px;
  	padding-left: 3px;
}

.signin-submit {
	width: 35px;
	background: linear-gradient(to top, #1e6584, #0c3357);
	border: none;
	color: white;
	border-right: 1px solid white;  
	line-height: 12px;
	height: 14px;
	font-size: 11px;
	font-family: "Lucida Sans Unicode";
}

.signin-registration {
	width: 76px;
	background: linear-gradient(to top, #1e6584, #0c3357);
	border: none;
	color: white;
	line-height: 12px;
	height: 14px;
	font-size: 11px;
	font-family: "Lucida Sans Unicode";
	margin-left: -2px; 
}

.home {
	display: inline-block;
	border:  1px solid #c1c8cb;
	border-radius: 50px; 
	margin-left: 12px;
	padding: 0 5px; 
}

.home img {
	padding: 0 3px 2px; }

.pic {
	margin-top: 10px; }

.main {
	height: 33px;
	border-style: solid;
  	border-width: 1px;
  	border-color: rgb( 13, 22, 66 );
  	border-radius: 4px;
    background-image: linear-gradient(to top, rgb(0,0,0) 0%, rgb(44,48,52) 87%, rgb(87,96,104) 100%);
    box-shadow: 1.5px 2.598px 5px 0px rgb( 0, 0, 0 );
}

.gorizont {
	margin-left: 127px; 
	height: 33px;
}

.main-menu ul {
	height: 33px;
	vertical-align: middle;
	padding-left: 107px; 
}

.main-menu li {
	display: inline-block;
	list-style: none;
	float: left;
	margin-top: 3px; 
	padding: 0 14px;
}

.main-menu li:first-child {
	padding: 0 19px;
}

.main-menu li:last-child {
	padding: 0 9px;
}

.main-menu a {
	display: block;
	text-decoration: none;
	line-height: 27px;
	height: 27px;
	vertical-align: middle;
	color: #929b9f;
	font-size: 14px;
	font-family: "Lucida Sans Unicode";
}

.main-menu li:hover {
	background: linear-gradient(to top, #0d365a, #1e6383);
	border-radius: 50px; 
	transition: background 0.3s;
}

.main-menu a:hover {
	color: white;
}

.trash {
	display: inline-block;
	width: 97px;
	height: 33px;
	margin-left: 59px;
	line-height: 33px;
	font-size: 11px;
	color: #929b9f;
}

 .trash img {
 	vertical-align: middle;
 	margin-right: 5px;
 }

 .trash a, .amaund a{
 	text-decoration: none;
 	color: #0d5689;
 	font-size: 12px;
 }

.amaund a{
	padding-left: 8px;
}

.amaund {
	display: inline-block;
	width: 116px;
	font-size: 11px;
	color: #929b9f;
}

.choice {
	margin-top: 6px;
}

.choice img:last-child {
	margin-right: -2px;
	margin-left: -4px;
}

.content {
	margin-top: 5px;
	display: block;
}

.side-bar {
	display: inline-block;
	width: 181px;
	vertical-align: top;
}


.side-bar img {
	margin: 0 2px; 
	border-radius: 50%;
	padding: 3px;
    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	vertical-align: middle;
}

.side-bar p {
	display: inline-block;
	line-height: 20px;
	font-size: 13px;
	font-family: "Lucida Sans Unicode";
 	color: rgb( 17, 65, 101 );
  	line-height: 2;
  	text-align: left;
}

.class-menu li {
	list-style-type: circle;
	margin-left: 53px;	
	font-size: 12px;
	line-height: 20px;
}

.class-menu li:hover {
	font-size: 14px;
	transition: 0.3s;
}

.class-menu a {
	text-decoration: none;
	color: #cfd4d6;
}

.class-menu a:hover {
	color: #919ead;
	text-decoration: underline;
}

.name-side-bar {
	margin-bottom: 12px;
	border: 1px solid #8b979c;
	border-radius: 50px;
	box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 )
}

.name-border {
	border: 1px solid #8b979c;
	border-radius: 50px;
	width: 149px;
}

.name-border p {
	color: #aab4bf;
	/*height: 2;*/
	line-height: 2;
}
.name-border a {
	color: #aab4bf;
	/*height: 2;*/
	line-height: 2;
}

.name-border img {
	width: 15px;
}

/*content*/

.product-center {
	display: inline-block;
	margin-left: 7px;
	width: 525px;
	height: 627px;
	background-image: linear-gradient(to top, #93a7b0, #e4e7e8);
	border-radius: 5px;
}

.prod-1, .prod-2, .prod-3 {
	display: inline-block;
	text-align: center;
	margin: 8px 8px;
	height: 180px;
}

p.name {
	font-size: 16px;
	font-family: "Lucida Sans Unicode";
	color: rgb( 32, 105, 136 );
	text-align: center;
}

p.second-name { 
	font-size: 12px;
 	font-family: "Lucida Sans Unicode";
 	color: rgb( 0, 0, 0 );
 	line-height: 0.87;
 	text-align: center;
}

p.price {
	font-size: 16px;
 	font-family: Arial;
 	font-weight: bold;
 	color: #114165;
 	text-align: center;
}

.product-center img {
	padding: 5px 30px;
	background: white;
	border: 1px solid #a9b2b5;
	border-radius: 10px;
}

.product-center a {
	height: 180px;
	text-decoration: none;
}

.row1, .row2, .row3 {
	height: 208px;
}

.row1 {
	margin-top: 4px; }

.row2 {
	margin-top: -6px; }

.row3 {
	margin-top: -3px; }

.prod-1 {
	margin-left: 20px;
	padding: 0px 3px;
}

.prod-2 {
	margin-left: 22px;
	padding: 0px 3px;
}


.prod-3 {
	margin-left: 24px;
	padding: 0px 3px;
}

/*Правое меню*/


.right-column {
		display: inline-block;
		width: 181px;
		vertical-align: top;
		margin-left: 5px;
}

.name-right-column {
	margin-bottom: 12px;
	border: 1px solid #8b979c;
	border-radius: 50px;
	box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 )
}

.right-column img {
		margin: 0 2px; 
		border-radius: 50%;
		padding: 3px;
	    background-image: linear-gradient(to right, rgb(32,105,136) 0%, rgb(17,65,101) 59%, rgb(15,58,94) 85%, rgb(12,50,86) 100%);
	 	vertical-align: middle;
	}

.right-column p {
	display: inline-block;;
	line-height: 20px;
	font-size: 13px;
	font-family: "Lucida Sans Unicode";
 	color: rgb( 17, 65, 101 );
  	line-height: 2;
  	text-align: left;
}

.name-border-2 {
	margin-top: 9px;
	border: 1px solid #8b979c;
	border-radius: 50px;
	width: 133px;
}

.name-border-2 p {
	color: #aab4bf;
	/*height: 2;*/
	line-height: 2;
}
.name-borde-2 a {
	color: #aab4bf;
	/*height: 2;*/
	line-height: 2;
}

.name-border-2 img {
	width: 15px;
}


p.brend {
	margin-left: -8px;
	margin-top: 3px;
	padding: 0 14px;
}

input.brend {
	margin-right: 14px; }

form.brend {
	margin-left: 15px; }

input.submit {
	display: block;
	width: 80px;
	margin: 8px 7px;
	padding: 6px 10px;
	border-radius: 50px;
	background-image: linear-gradient(to top, #0d3458, #1f6585 );
	box-shadow: 1.5px 2.598px 3px 0px rgb( 150, 150, 150 );
	font-family: Arial;
	font-size: 11px;
	color: white;
}

.last-image {
	text-align: center;
	margin: 37px 0 22px; 
}

footer {
	display: block;
	background: #213a4d;
	height: 99px;
	padding-top: 13px;
}

.nav-footer ul {
	display: block;
	margin: -3px 291px; 
	height: 15px;
}

.nav-footer li {
	display: block;
	float: left;
	height: 15px;
	border-right: 1px solid #8d989f;
}

.nav-footer a {
	display: block;
	padding: 0 13px;
	line-height: 15px;
	text-decoration: none;
	font-size: 13px;
	font-family: "Arial";
	color: #8d989f;
	text-align: center;
    vertical-align: middle;
 }

.nav-footer a:hover {
	color: rgb( 82, 171, 203 );
	transition: 0.2s;
}

.nav-footer li:last-child {
	border-right: none;
}

footer p {
	clear: both;
	display: block;
	width: 100%;
	margin-top: 15px;
	text-align: center;
	font-size: 10px;
 	font-family: "Arial";
	color: rgb( 127, 71, 64 );
	line-height: 1.8;
}